node_modules
.vscode/launch.json
package-lock.json
package.json
pure-swipe-min.js
README.md~
SEO-Lighthouse-Audit-after-expanded.pdf
SEO-Lighthouse-Audit-after.pdf
SEO-Lighthouse-Audit-before-expanded.pdf
SEO-Lighthouse-Audit-before.pdf
server.js
Startingwebsite/page2.html
livrables/
